PORT=4000
NODE_ENV=development

# PostgreSQL
DATABASE_URL=change_this_to_your_postgres_url

# Brevo api key for emails (optional)
BREVO_API=change_this_to_your_api_key

# JWT
JWT_SECRET=change_this_to_a_long_random_string
JWT_EXPIRES_IN=7d

# CORS
CLIENT_URL=http://localhost:5173