.container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 200;
}

@media (max-width: 480px) {
    .container {
        left: 20px;
        right: 20px;
    }
}